/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-family: 'Roboto', sans-serif;
}

button {
  padding: 10px;
  background: royalblue;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

input {
  padding: 8px;
  margin: 4px;
}
